mixin canvas()
    - var root = config.root;
    - var path = "";
    if(root)
        - path = root + 'js/canvas-nest.js'
    else
        - path = '/js/canvas-nest.js'
    script(src=path type="text/javascript" color="47,135,193" opacity='0.7' zIndex="-2" count="199" )
mixin comment()
    #comment_container
    - var gitment = getConfig("comment.gitment");
    - var gitalk = getConfig("comment.gitalk");
    if(gitment.enable)
        != css('https://imsun.github.io/gitment/style/default.css')
        != js('https://imsun.github.io/gitment/dist/gitment.browser.js')
        != js('js/md5.min.js')
        script.
            var gitment = new Gitment({
                id: md5("#{page.path}"), // 可选。默认为 location.href
                owner: '#{gitment.owner}',
                repo: '#{gitment.repo}',
                oauth: {
                    client_id: '#{gitment.clientID}',
                    client_secret: '#{gitment.clientSecret}',
                },
            })
            gitment.render('comment_container')
    else if (gitalk.enable)
        != css("https://unpkg.com/gitalk/dist/gitalk.css")
        != js("https://unpkg.com/gitalk/dist/gitalk.min.js")
        != js('js/md5.min.js')
        script.
            const gitalk = new Gitalk({
                clientID: '#{gitalk.clientID}',
                clientSecret: '#{gitalk.clientSecret}',
                repo: '#{gitalk.repo}',
                owner: '#{gitalk.owner}',
                admin: ['#{gitalk.owner}'],
                id: md5("#{page.path}"),      // Ensure uniqueness and length less than 50
                distractionFreeMode: true  // Facebook-like distraction free mode
            })
            gitalk.render('comment_container')
